<div class="form2">
    <form [formGroup]="form" (ngSubmit)="addGun()">
        <div class="label1">
            <label>Bron: </label>
            <input formControlName="name" placeholder="Name" id="name"><br>
            <div *ngIf="!form.controls['name'].valid">
                <div class="error">
                    <strong>Nazwa od 4 do 10 znaków!</strong>
                </div>
            </div>
        </div>

        <div class="label2">
            <label>Kraj: </label>
            <input formControlName="country" placeholder="Country">
            <div *ngIf="!form.controls['country'].valid">
                <div class="error">
                    <strong>Kraj jest wymagany!</strong>
                </div>
            </div>
        </div>
        <button class="buttonSend" type="submit">Wyślij</button>
    </form>
</div>